header {
    display: flex;
    align-items: flex-start;
    height: 25vh;
    width: 19vw;
    z-index: 100000;
}

.mu_logo {
        width: 19vw;
        margin-left: 4rem;
        margin-top: 3rem;
    }