.accueil_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: url(../../../public/img/vinyle-left_1920.jpg);
    background-size: cover;

    h1 {
        font-size: 50px;
        font-weight: 400;
    }
}