.accueil_bg {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: url(../../img/vinyl.png);
    background-size: cover;
    z-index: -100;
}

    .h1_container {
        display: flex;
        justify-content: center;
        margin-top: -33rem;
        z-index: 100;

        h1 {
        font-size: 3rem;
        font-weight: 500;
        }

        .quote_author {
            margin-left: 28rem;
        }
    }
