.signUp_modal {
    background-color: $color-5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    width: 18vw;
    border-radius: 70px;
    z-index: 100;

    &_header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        width: 100%;
        background-color: darkgray;
        border-radius: 70px 70px 0 0;
        color: $color-4;
        font-size: 17px;
        font-weight: 400;
    }

    &_body {
        display: flex;
        justify-content: center;
        height: 90%;
        width: 100%;
        border-radius: 0 0 70px 70px;

        &_input {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 3rem;

            input {
                height: 5vh;
                width: 13vw;
                background-color: darkgrey;
                border: transparent;
                border-radius: 30px;
                margin-top: 1rem;
                padding: 0 3rem;

                &::placeholder {
                    color: $color-4;
                    font-family: $font-1;
                    font-weight: 500;
                    font-size: 1.1em;
                }
            }
        }

        &_buttons {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 5rem;

            .signUp_modal_validation_button {
                position: relative;
                height: 4.5vh;
                width: 9vw;
                margin-left: auto;
                margin-right: auto;
                background-color: darkgray;
                border: transparent;
                border-radius: 30px;
                font-size: 17px;
                cursor: pointer;

                &:hover {
                    background-color: $color-3;
                    color: $color-1;
                }
            }

            .signUp_modal_closure_button {
                height: 4.5vh;
                width: 9vw;
                margin-top: 1rem;
                margin-left: auto;
                margin-right: auto;
                background-color: darkgray;
                border: transparent;
                border-radius: 30px;
                font-size: 15px;
                cursor: pointer;
            }
        }

        &_signIn_redirection {
            display: flex;
            justify-content: center;
            margin-top: 6.5rem;
            font-size: 12px;
        }
    }

    .valid {
        color: $color-3;
        margin-left: -2.3rem;
    }

    .invalid {
        color: darkred;
        margin-left: -2.3rem;
    }

    .instructions {
        width: 13vw;
        font-size: 0.75rem;
        border-radius: 0.5rem;
        background: rgba(0, 0, 0, 0.753);
        color: #fff;
        padding: 0.25rem;
        position: relative;
        bottom: -10px;

        .instructions > svg {
            margin-right: 0.25rem;
        }
    }

    .offscreen {
        position: absolute;
        left: -9999px;
    }

    .hide {
        display: none;
    }

    .signUp_modal_conditions_checkbox{
        display: flex;
        flex-direction: row;

        .conditions_checkbox {
            height: 1.5vh;
            margin-left: -6.4rem;
        }

        .conditions_sentence {
            font-size: 12px;
            margin-top: 1.05rem;
            margin-left: -6.4rem;
        }
    }

    .password_visibility_button {
        height: 1.5vh;
        width: 1.5vw;
    }
}

